.root {
	-fx-background-color: #CCFF99;
	-fx-background-image: url("/Images/calendarBG.jpg");
	-fx-background-size: cover;
	-fx-font-family: "Tahoma";
}

#sceneTitle {
	-fx-font-size: 30px;
}

.button {
	-fx-text-fill: #000000;
	-fx-background-color: #73afdf;
	-fx-border-radius: 10;
	-fx-border-color: #000000;
	-fx-background-radius: 20;
	-fx-padding: 5;
}

.text {
	-fx-font: 15px Tahoma;
    -fx-fill: black;
	-fx-background-color: #75A6FE;
}

.CustomLongButton{
	
	-fx-text-fill: #000000;
	-fx-background-color: #73afdf;
	-fx-border-radius: 10;
	-fx-border-color: #000000;
	-fx-background-radius: 20;
	-fx-padding: 5;
	-fx-pref-width: 200px;
}

.button:pressed {
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
        linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1, 1;
    /* TODO: -fx-text-fill should be derived */
    -fx-text-fill: -fx-light-text-color;
}

.date-picker-popup {
	-fx-background-color: blue, lightblue, lightgreen;
	-fx-background-image: url("/Images/blue_texture-wallpaper-1920x1080.jpg");
	-fx-background-insets: 0, 1, 1;
	-fx-background-radius: 1, 2, 3;
	-fx-spacing: 10; /* VBox */
	-fx-padding: 0.83333em; /* 1 1 1 1 */
}

.pane {
	-fx-border-color: #6495ED;
	-fx-border-radius: 2, 2, 2, 2;
	-fx-border-width: 2px;
	-fx-font-size: 15px;
}

.scroll-pane>.viewport {
	-fx-background-color: transparent;
}

#scrollPane {
	-fx-fit-to-height: true;
	-fx-fit-to-width: true;
	-fx-background-color: transparent;
}